# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9f45b4a7616a75d5a852de64ab0a5724139536c45cd2215f6a592f7695f763f7385846475f633f45f41474968db1a23da99b18f9d398b33db22fa49f03b8090f

test:
  secret_key_base: 29bddd68f328ab06ba03988b4fc0424fac226800e89514bdb8d54f8fbf8e7758001612249519c048f1cc4193daee980e0273eb490514acd95a1a72bd960437ef

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
